/* form.css */

body {
  background: linear-gradient(120deg, #e0f7fa, #f3e5f5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin:10% auto;
}

.container {
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

h2 {
  color: #6a1b9a;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

button.btn-primary {
  //background: linear-gradient(90deg, #ef3938, #f76333, #f58e29, #fbb428, #6bb657, #31a4a9, #6164a7);
   background: #4a148c;
  border: none;
}

button.btn-primary:hover {
  //background: #4a148c;
  background: linear-gradient(90deg, #ef3938, #f76333, #f58e29, #fbb428, #6bb657, #31a4a9, #6164a7);
}

button.btn-success {
   background: #4a148c;
  border: none;
}

button.btn-success:hover {
  //background: #1b5e20;
  background: linear-gradient(90deg, #ef3938, #f76333, #f58e29, #fbb428, #6bb657, #31a4a9, #6164a7);
}

a {
  color: #6a1b9a;
}

a:hover {
  text-decoration: underline;
}